<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- <link rel="stylesheet" th:href="@{css/main.css}" /> -->
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-3.1.0.js"></script>
<script>
$(document).ready(function(){
	
	$("#btn").click(function(){
		var from = $("#from");
		var to = $("#to");
		var fromValue = $("#fromValue");
		var toValue = $("#toValue");
		var country = $("#country");
		var msg = $("#msg");
		
		var param = {
				"from": from.val(),
				"to": to.val(),
				"fromValue": fromValue.val(),
				"toValue": toValue.val(),
		};
		
		var headers = {
	        "service_code": "",
	        //"Cookie": "",
	        "Content-Type": "application/json; charset=UTF-8",
        }
		
		var bodyData = {
			"body": {
				
	        },
	        "reqRcvTime": getDate(),
	        "reqTime": getDate(),
	        "header": {
	            "apiKey": "1234",
	            "osType": "Windows",
	            "osVersion": "",
	            "apiToken": "",
	            "serverIp": "",
	        },
	        "parameters": {
	        	"currencyVO": param,
	        }
		};
		
		$.ajax({
			type:"POST",
	        url:"/exchangerates",
	        dataType : "json",
	        contentType: "application/json;charset=UTF-8",
	        headers: headers,
	        data: JSON.stringify(bodyData),
	        success: function(data){
	        	console.log(data);
	        	if(data.header.errorCode == "000000"){						        		
	        		console.log("success");
		            fromValue.val(data.body.fromValue);
		            toValue.val(data.body.toValue);
		            country.text(data.body.fromTo);
	        		msg.text("");
	        	}else{
	        		console.log("false");
	        		msg.text(data.header.errorMessage);
	        	}
	        },
	        error: function(xhr, status, error) {
	        	console.log(error);
	        }
		});
	});
});


Date.prototype.YYYYMMDDHHMMSS = function () {
    var yyyy = this.getFullYear().toString();
    var MM = pad(this.getMonth() + 1,2);
    var dd = pad(this.getDate(), 2);
    var hh = pad(this.getHours(), 2);
    var mm = pad(this.getMinutes(), 2)
    var ss = pad(this.getSeconds(), 2)

    return yyyy + MM + dd+  hh + mm + ss;
};

function getDate() {
    d = new Date();
    return d.YYYYMMDDHHMMSS();
}

function pad(number, length) {
    var str = '' + number;
    while (str.length < length) {
        str = '0' + str;
    }
    return str;
}
</script>
</head>
<body>
<div class="body">
	<div class="content">
		<h1 th:text="${message}"></h1>
		<br>
		<div class="content-1">
			<label for="target">송금국가 : </label>
			<select id="from">
				<option value="USD">미국</option>
			</select>
			<br>
			<label for="to">수취국가 : </label>
			<select id="to">
				<option value="KRW">한국</option>
				<option value="JPY">일본</option>
				<option value="PHP">필리핀</option>
			</select>
			<br>
			<label for="toValue">환율</label>
			<input id="toValue" th:value="${toValue}" disabled>
			<span id="country" th:text="${fromTo}"></span>
			<br>
			<label for="fromValue">송금액</label>
			<input id="fromValue" th:value="${fromValue}">
			<br>
			<button id="btn" type="button">Submit</button>
		</div>
		<div class="content-message">
			<span id="msg" th:text="${msg}"></span>
		</div>
	</div>
</div>
</body>
</html>