<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
test <br>
<div th:text="#{message}"></div>
<div th:text="#{currencylayer.api.url}"></div>
<div th:text="#{currencylayer.api.accessKey}"></div>
</body>
</html>